.logoS {
  width: 390px;
  height: 390px;
  margin-top: 0;
  padding: 0;
  position: relative;
  right: 130px;
}

.Logo {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}

.LogoSectionAbout {
  text-align: left;
  width: 80%;
  display: inline-block;
  position: relative;
  font-family: 'Nunito', sans-serif;
}

.LogoSectionAbout h1 {
  font-weight: 700;
  text-align: left;
}

.Logo {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 570px) {
  .logoS {
    width: 100%; /* Ensure the element uses the full width of the screen */
    height: auto; /* Adjust height to auto for better responsiveness */
    margin-top: 0;
    margin-bottom: 0;
    position: relative; /* Change to relative for better control */
    right: 0;
    text-align: center; /* Center-align the text */
  }

  .Logo {
    margin: 0 auto;
    width: 60%;
    display: block; /* Change display to block for proper centering */
  }

  .LogoSectionAbout {
    width: 100%; /* Ensure the section uses the full width of the screen */
    text-align: center; /* Center-align the text */
  }

  .LogoSectionAbout h1 {
    text-align: center; /* Center-align the heading */
  }
}
